<h1 class="display-4">Create an Account</h1>
<%= form_with(model: @user, class: "form-signin", local: true) do |f| %>
  <div>
  <%= f.label :name, class: "sr-only" %>
  <%= f.text_field :name, class: "form-control", placeholder: "Name" %>

  <%= f.label :email, class: "sr-only" %>
  <%= f.email_field :email, class: "form-control", placeholder: "Email address" %>

  <%
=begin%>
 <%= f.label :password, class: "sr-only" %>
  <%= f.password_field :password, class: "form-control", placeholder: "Password" %> 
<%
=end%>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
<% end %>